/* Estilos personalizados aquí */
.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    flex-basis: 20%;
    background: orange;
    color: white;
    padding: 20px;
}

.content {
    flex-basis: 80%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.project,
.announcements,
.trending,
.event-dates,
.statistics {
    border: 2px solid maroon;
    padding: 10px;
    transition: all 0.3s;
}

.project:hover,
.announcements:hover,
.trending:hover,
.event-dates:hover,
.statistics:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.footer {
    text-align: center;
    margin-top: 50px;
}
